.word {
  display: inline-block;
  will-change: transform, filter, opacity;
  font-size: calc(50px + 2vmin);
  block-size: 55%;
}

.word-buttons {
  display: inline-block;
  will-change: transform, filter, opacity;
  font-size: calc(65px + 2vmin);
}

#blur-text {
  width: 75%;
  margin-top: 0;
  margin-bottom: 2rem;
}
